name: Run Tests

on:
  pull_request:
    branches: [ master ]
    paths:
    -  'examples/*'
    -  'hackthebox/*'
    -  'tests/*'
  push:
    branches: [ master ]
    paths:
    -  'examples/*'
    -  'hackthebox/*'
    -  'tests/*

jobs:
  test:
    env:
      HTB_EMAIL: ${{ secrets.HTB_EMAIL }}
      HTB_PASSWORD: ${{ secrets.HTB_PASSWORD }}
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests and generate coverage report

        run: |
          python3 -m pytest -n auto --cov=hackthebox --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
          env_vars: OS,PYTHON
          name: codecov-umbrella
          fail_ci_if_error: true
          path_to_write_report: ./codecov_report.gz
